@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
body{
  //font-family: 'Lato', sans-serif ,'Roboto Mono', monospace;
  font-family: 'Lato', sans-serif ,'Roboto Mono', monospace,-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial;
}
$font-family-sans-serif: "Dancing Script", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
//font-family: 'Lato', sans-serif;
//font-family: 'Roboto Mono', monospace;
a {
  text-decoration: none !important;
  color: $gray-900;
  &:hover,&:focus,&:active {
    color: $gray-900;
    opacity: 0.8;
  }
}
