.nav-box{
  padding: 32px 0;
  ul>li>a{
    padding-left: 36px;
    color: $gray-900;
    &:hover, &:focus, &:active{
      border-left:solid 4px $success;
      padding-left: 32px;
      color: $success;
    }
  }
  min-width: 296px;
  height: 100vh;
  position: fixed;
  background-color: $gray-100;
}