.main{
  margin-left: 296px;
  .list-group-item{
    padding: 0;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show {
    background-color: $gray-100;
    border-color: $white $white $gray-400;
  }
  .nav-link {
    padding: 12px;
  }
  .list-group{
    li:last-child{
      border-bottom: solid 0.25px $gray-400; 
    }
  }
}
.modal-dialog{
  max-width: 480px;
}
//
.expand_more {
  display: none;
}
.expand_less {
  display: inline-block;
}
.collapsed .expand_more {
  display: inline-block;
}

.collapsed .expand_less {
  display: none;
}
//page
.page-item{
  min-width: 32px;
  min-height: 32px;
  .page-link{
    align-items: center;
    display: flex;
    .material-icons{
      color: $green;
      &:hover, &:focus, &:active{
        color: $white;
      }
    }
  }
}