.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}
//collapse
//跟d-flex有衝突
// #userInfo, #btnGroup{
//   display: inline-block;
// }
// .collapsed #userInfo, .collapsed #btnGroup{
//   display: none;
// }
// [aria-expanded="false"] .menu__icon--open {
//   display: inline;
// }
